<div class="container">
  
<header class="store-header">
  <a routerLink="/" class="header-link">
    <div class="logo">LQ</div>
    <div class="store-title">
      <h1>LojaQuadros</h1>
      <h3>Arte que decora, emoção que inspira.</h3>
    </div>
  </a>
</header>


<nav class="main-nav">
  <ul>
    <li><a routerLink="/busca">Busca</a></li>
    <li><a routerLink="/carrinho">Carrinho</a></li>
    <li><a routerLink="/pedidos">Meus Pedidos</a></li>
    <li><a routerLink="/sobre">Sobre</a></li>
    <li><a routerLink="/cadastroprod">Cadastre um produto</a></li>
  </ul>

<a *ngIf="!(auth.getLoggedIn$() | async)" routerLink="/login" class="cadastro">Login</a>

  <!-- quando loggedIn for true mostra nome e botão sair -->
  <ng-container *ngIf="auth.getLoggedIn$() | async">
    <span class="cadastro">👋 Olá, {{ auth.getUsername$() | async }}</span>
    <a (click)="auth.logout()" class="cadastro" style="cursor:pointer; margin-left:8px">Sair</a>
  </ng-container>

</nav>



  <main class="content-area">
    <router-outlet></router-outlet>
  </main>

  <footer class="store-footer">
    <p>&copy; 2025 LojaQuadros - Todos os direitos reservados.</p>
    <p>Um projeto de teste para a disciplina de desenvolvimento web.</p>
  </footer>

</div>
